
header li {
 list-style: none;

}
a:link {
  background-color: green;
  color: black;
  text-align: center;
  margin-bottom: 1px;
  display: block;
  width: 200px;
  text-decoration: none;

}
a:visited{
 background-color: blue;


}

a:hover,a:active {
  background-color: red;
  color: green;
}


section div:nth-child(odd){
     background-color: grey;
}
section div:nth-child(even):hover{
  background-color: blue;
  color: red;
  cursor: pointer;
}
section div:nth-child(5):hover{
  background-color: pink;
  cursor: pointer;
}
header li:nth-child(3){
  font-size: 24px;
  font-weight: bold;
}
